<hr>
<div class="custom-content">
  {% for block in section.blocks %}
    {% case block.settings.width %}
      {% when '25%' %}
        {%- assign block_width = 'small--one-whole one-quarter' -%}
      {% when '33%' %}
        {%- assign block_width = 'small--one-whole one-third' -%}
      {% when '50%' %}
        {%- assign block_width = 'small--one-whole one-half' -%}
      {% when '66%' %}
        {%- assign block_width = 'small--one-whole two-thirds' -%}
      {% when '75%' %}
        {%- assign block_width = 'small--one-whole three-quarters' -%}
      {% when '100%' %}
        {%- assign block_width = 'one-whole' -%}
    {% endcase %}
    <div class="custom__item {{ block_width }} {% if block.settings.alignment %}align--{{ block.settings.alignment }}{% endif %}" {{ block.shopify_attributes }}>
      <div class="custom__item-inner custom__item-inner--{{ block.type }}">
        {% case block.type %}
          {% when 'html' %}
            {% if block.settings.code != blank %}
              <div class="rte" data-section-id="{{ section.id }}" data-section-type="featured-content-section">
                {{ block.settings.code }}
              </div>
            {% else %}
              <div class="rte text-center">
                {{ 'homepage.onboarding.no_content' | t }}
              </div>
            {% endif %}
        {% endcase %}
      </div>
    </div>
  {% endfor %}
  {% if section.blocks.size == 0 %}
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item">
          <div class="rte text-center">
            {{ 'homepage.onboarding.no_content' | t }}
          </div>
        </div>
      </div>
   </div>
  {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": {
      "es": "Contenido personalizado",
      "it": "Contenuto personalizzato",
      "en": "Custom content",
      "ja": "コンテンツをカスタムする",
      "fr": "Contenu personnalisé",
      "de": "Personalisierter Content",
      "pt-BR": "Conteúdo personalizado"
    },
    "max_blocks": 9,
    "blocks": [
      {
        "type": "html",
        "name": {
          "es": "HTML personalizado",
          "it": "HTML personalizzato",
          "en": "Custom HTML",
          "ja": "HTMLをカスタムする",
          "fr": "Code HTML personnalisé",
          "de": "Benutzerdefiniertes HTML",
          "pt-BR": "HTML personalizado"
        },
        "settings": [
          {
            "type": "html",
            "id": "code",
            "label": {
              "es": "HTML",
              "it": "HTML",
              "en": "HTML",
              "ja": "HTML",
              "fr": "HTML",
              "de": "HTML",
              "pt-BR": "HTML"
            },
            "default": {
              "es": "<div style='text-align:center;'><h2>Usa HTML para formatear tu texto para que se pueda leer fácilmente</h2>. Este texto se puede usar para compartir información sobre tu marca con los clientes.</div>",
              "it": "<div style='text-align:center;'><h2>Utilizza l'HTML per formattare il tuo testo così che sia facilmente leggibile.</h2>Questo testo può essere usato per condividere le informazioni sul tuo brand con i clienti.</div>",
              "en": "<div style='text-align:center;'><h2>Use HTML to format your text so it can be easily read.</h2>This text can be used to share information about your brand with customers.</div>",
              "ja": "<div style='text-align:center;'><h2>テキストが読みやすくなるように、HTMLを使用して書式設定します。</h2>このテキストは、あなたのブランドに関する情報をお客様と共有するために使用できます。</div>",
              "fr": "<div style='text-align:center;'><h2>Utilisez le code HTML pour formater votre texte afin qu'il puisse être facilement lu.</h2>Vous pouvez utiliser ce texte pour partager des informations sur votre marque avec les clients.</div>",
              "de": "<div style='text-align:center;'><h2>Formatieren Sie Ihren Text mit HTML, damit er leichter lesbar ist.</h2>Mit diesem Text können Sie Ihre Kunden über Ihre Marke informieren.</div>",
              "pt-BR": "<div style='text-align:center;'><h2>Use HTML para formatar seu texto, assim ele pode ser lido com facilidade.</h2> Esse texto pode ser usado para compartilhar informações sobre sua marca com os clientes.</div>"
            }
          },
          {
            "type": "select",
            "id": "width",
            "label": {
              "es": "Ancho del contenedor",
              "it": "Larghezza contenitore",
              "en": "Container width",
              "ja": "コンテナーの幅",
              "fr": "Largeur du conteneur",
              "de": "Containerbreite",
              "pt-BR": "Largura do recipiente"
            },
            "default": "100%",
            "options": [
              {
                "value": "25%",
                "label": {
                  "es": "25%",
                  "it": "25%",
                  "en": "25%",
                  "ja": "25%",
                  "fr": "25 %",
                  "de": "25 %",
                  "pt-BR": "25%"
                }
              },
              {
                "value": "33%",
                "label": {
                  "es": "33%",
                  "it": "33%",
                  "en": "33%",
                  "ja": "33%",
                  "fr": "33 %",
                  "de": "33 %",
                  "pt-BR": "33%"
                }
              },
              {
                "value": "50%",
                "label": {
                  "es": "50%",
                  "it": "50%",
                  "en": "50%",
                  "ja": "50%",
                  "fr": "50 %",
                  "de": "50 %",
                  "pt-BR": "50%"
                }
              },
              {
                "value": "66%",
                "label": {
                  "es": "66%",
                  "it": "66%",
                  "en": "66%",
                  "ja": "66%",
                  "fr": "66 %",
                  "de": "66 %",
                  "pt-BR": "66%"
                }
              },
              {
                "value": "75%",
                "label": {
                  "es": "75%",
                  "it": "75%",
                  "en": "75%",
                  "ja": "75%",
                  "fr": "75 %",
                  "de": "75 %",
                  "pt-BR": "75%"
                }
              },
              {
                "value": "100%",
                "label": {
                  "es": "100%",
                  "it": "100%",
                  "en": "100%",
                  "ja": "100%",
                  "fr": "100 %",
                  "de": "100 %",
                  "pt-BR": "100%"
                }
              }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": {
              "es": "Alineación vertical",
              "it": "Allineamento verticale",
              "en": "Vertical alignment",
              "ja": "垂直アラインメント",
              "fr": "Alignement vertical",
              "de": "Vertikale Ausrichtung",
              "pt-BR": "Alinhamento vertical"
            },
            "default": "top-middle",
            "options": [
              {
                "value": "top-middle",
                "label": {
                  "es": "Superior",
                  "it": "In alto",
                  "en": "Top",
                  "ja": "上",
                  "fr": "En haut",
                  "de": "Oben",
                  "pt-BR": "Acima"
                }
              },
              {
                "value": "center",
                "label": {
                  "es": "Al medio",
                  "it": "Al centro",
                  "en": "Middle",
                  "ja": "中央",
                  "fr": "Au milieu",
                  "de": "Mittig",
                  "pt-BR": "Meio"
                }
              },
              {
                "value": "bottom-middle",
                "label": {
                  "es": "Inferior",
                  "it": "In basso",
                  "en": "Bottom",
                  "ja": "下",
                  "fr": "En bas",
                  "de": "Unten",
                  "pt-BR": "Abaixo"
                }
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": {
          "es": "Contenido personalizado",
          "it": "Contenuto personalizzato",
          "en": "Custom content",
          "ja": "コンテンツをカスタムする",
          "fr": "Contenu personnalisé",
          "de": "Personalisierter Content",
          "pt-BR": "Conteúdo personalizado"
        },
        "category": {
          "es": "Diseño avanzado",
          "it": "Layout avanzato",
          "en": "Advanced layout",
          "ja": "高度なレイアウト",
          "fr": "Mise en page avancée",
          "de": "Komplizierteres Layout",
          "pt-BR": "Layout avançado"
        },
        "blocks": [
          {
            "type": "html"
          }
        ]
      }
    ]
  }
{% endschema %}
