<div class="password-page__main__inner">

  {% comment %}
    Opening soon text
  {% endcomment %}
  {% if section.settings.header != blank %}
  <h2 class="password-page__hero">{{ section.settings.header | escape }}</h2>
  {% endif %}

  {% comment %}
    Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
  {% endcomment %}

  {% unless shop.password_message == blank %}
    <div class="password-page__message">
      {{ shop.password_message }}
    </div>
    <hr class="hr--small hr--clear">
  {% endunless %}

  {% comment %}
    Signup form
  {% endcomment %}

  {% if section.settings.newsletter_enable %}
  <div class="password-page__signup-form">
    {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
      {% else %}
        <p class="password-page__signup-form-heading h5">{{ section.settings.newsletter_form_heading | escape }}</p>
        {% unless section.settings.newsletter_form_subheading == blank %}
          <div class="password-page__signup-form-subheading ">
            {{ section.settings.newsletter_form_subheading }}
          </div>
        {% endunless %}
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
        <div class="input-group">
          <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="{{ section.settings.newsletter_placeholder | escape }}" autofocus>
          <span class="input-group-btn">
            <input type="submit" class="btn-secondary btn--small" value="{{ section.settings.newsletter_button_text | escape }}">
          </span>
        </div>
      {% endif %}
    {% endform %}
  </div>
  {% endif %}

  {% comment %}
    Share homepage URL
    Shared text is from the store meta description
  {% endcomment %}

  {% if section.settings.show_share_buttons %}
  <div class="password-page__social-sharing">
    <p class="h5">{{ 'general.password_page.spread_the_word' | t }}</p>
    {% include 'social-sharing' %}
  </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": {
      "es": "Contenido",
      "it": "Contenuto",
      "en": "Content",
      "ja": "コンテンツ",
      "fr": "Contenu",
      "de": "Inhalt",
      "pt-BR": "Conteúdo"
    },
    "class": "password-page__main",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": {
          "es": "Título",
          "it": "Heading",
          "en": "Heading",
          "ja": "見出し",
          "fr": "Titre",
          "de": "Überschrift",
          "pt-BR": "Título"
        },
        "default": {
          "es": "Próximamente",
          "it": "Prossimamente",
          "en": "Coming Soon",
          "ja": "間もなく公開",
          "fr": "Ouverture prochaine",
          "de": "Demnächst",
          "pt-BR": "Em breve"
        }
      },
      {
        "type": "header",
        "content": {
          "es": "Boletín",
          "it": "Newsletter",
          "en": "Newsletter",
          "ja": "ニュースレター",
          "fr": "Newsletter",
          "de": "Newsletter",
          "pt-BR": "Newsletter"
        }
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": {
          "es": "Mostrar suscripción al boletín",
          "it": "Mostra iscrizione alla newsletter",
          "en": "Show newsletter signup",
          "ja": "ニュースレターのサインアップを表示する",
          "fr": "Afficher l'inscription à la newsletter",
          "de": "Newsletter-Anmeldung anzeigen",
          "pt-BR": "Exibir assinatura da newsletter"
        },
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_form_heading",
        "label": {
          "es": "Título del formulario del boletín",
          "it": "Titolo del modulo della newsletter",
          "en": "Newsletter form heading",
          "ja": "ニュースレターフォームの見出し",
          "fr": "Titre du formulaire de la newsletter",
          "de": "Überschrift für Newsletter-Formular",
          "pt-BR": "Título do formulário da newsletter"
        },
        "default": {
          "es": "Averigua cuándo abrimos",
          "it": "Scopri quando apriamo",
          "en": "Find out when we open",
          "ja": "開店を知らせる",
          "fr": "Restez au courant de notre date de lancement",
          "de": "Herausfinden, wann wir öffnen",
          "pt-BR": "Fique por dentro quando abrirmos a loja"
        },
        "info": {
          "es": "[Informa a tus visitantes sobre un descuento del día de lanzamiento](https://es.shopify.com/blog/15567552-14-maneras-de-utilizar-las-ofertas-cupones-y-descuentos-para-generar-ganancias-y-lealtad-del-cliente).",
          "it": "[Informa i tuoi visitatori su uno sconto previsto il giorno del lancio](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
          "en": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
          "ja": "[訪問者に発売日の割引について伝える](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
          "fr": "[Annoncez une réduction à vos visiteurs pour le jour du lancement](https://fr.shopify.com/blog/57222917-14-manieres-dutiliser-les-codes-promo-bons-de-reduction-coupons-et-remises-pour-generer-des-revenus-et-fideliser-les-clients).",
          "de": "[Informieren Sie Ihre Besucher über einen Rabatt am Tag der Shop-Eröffnung](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
          "pt-BR": "[Informe seus visitantes sobre um desconto de lançamento](https://pt.shopify.com/blog/aplicativos-de-desconto)."
        }
      },
      {
        "type": "richtext",
        "id": "newsletter_form_subheading",
        "label": {
          "es": "Subtítulo del formulario del boletín",
          "it": "Sottotitolo del modulo della newsletter",
          "en": "Newsletter form subheading",
          "ja": "ニュースレターフォームの小見出し",
          "fr": "Sous-titre du formulaire de la newsletter",
          "de": "Untertitel für Newsletter-Formular",
          "pt-BR": "Subtítulo do formulário da newsletter"
        },
        "default": {
          "es": "<p>Promociones, nuevos productos y ventas. Directamente a tu bandeja de entrada.</p>",
          "it": "<p>Promozioni, nuovi prodotti e offerte. Direttamente nella tua inbox.</p>",
          "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>",
          "ja": "<p>プロモーション、新商品、セールについて、あなたの受信箱に直接知らせる。</p>",
          "fr": "<p>Promotions, nouveaux produits et soldes. Directement dans votre boîte de réception.</p>",
          "de": "<p>Werbeaktionen, neue Produkte und Sonderangebote. Direkt in Ihrem Posteingang.</p>",
          "pt-BR": "<p>Promoções, novos produtos e ofertas, diretamente em sua caixa de entrada.</p>"
        }
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": {
          "es": "Texto de marcador de posición del boletín",
          "it": "Testo del segnaposto della newsletter",
          "en": "Newsletter placeholder text",
          "ja": "ニュースレターのプレースホルダテキスト",
          "fr": "Texte du paramètre fictif de la newsletter",
          "de": "Platzhaltertext für Newsletter",
          "pt-BR": "Texto do marcador de posição da newsletter"
        },
        "default": {
          "es": "Tu correo electrónico",
          "it": "Indirizzo email",
          "en": "Your email",
          "ja": "メールアドレス",
          "fr": "Votre e-mail",
          "de": "Ihre E-Mail-Adresse",
          "pt-BR": "Seu e-mail"
        }
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": {
          "es": "Texto del botón del boletín",
          "it": "Testo del pulsante newsletter",
          "en": "Newsletter button text",
          "ja": "ニュースレターボタンのテキスト",
          "fr": "Texte du bouton de la newsletter",
          "de": "Text für Newsletter-Schaltfläche",
          "pt-BR": "Texto do botão da newsletter"
        },
        "default": {
          "es": "Enviar",
          "it": "Invia",
          "en": "Submit",
          "ja": "送信する",
          "fr": "Envoyer",
          "de": "Eingabe",
          "pt-BR": "Enviar"
        }
      },
      {
        "type": "header",
        "content": {
          "es": "Compartir en redes sociales",
          "it": "Condivisione sui social",
          "en": "Social sharing",
          "ja": "ソーシャル共有",
          "fr": "Partage social",
          "de": "Social Sharing",
          "pt-BR": "Compartilhamento nas redes sociais"
        }
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": {
          "es": "Mostrar botones para compartir en redes sociales",
          "it": "Mostra i pulsanti per la condivisione sui social",
          "en": "Show social sharing buttons",
          "ja": "ソーシャル共有ボタンを表示する",
          "fr": "Afficher les boutons de partage sur les médias sociaux",
          "de": "Buttons für Social Media anzeigen",
          "pt-BR": "Exibir botões de compartilhamento em redes sociais"
        },
        "default": true
      }
    ]
  }
{% endschema %}
